* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'roboto';
}

body {
    background-color: black;
    background-image: url('../background/abstract-1.jpg');
}

.navbar {
    color: grey;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(29, 29, 29, 0.438);
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    z-index: 10;
}

.navbar .btn {
    display: none;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.26);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}

.navbar .btn:hover {
    background-color: rgba(128, 128, 128, 0.363);
}

.navbar .search {
    display: none;
}

.navbar .search:hover {
    width: fit-content;
}

.navbar .link {
    color: grey;
    text-decoration: none;
    border-radius: 10px;
}

.navbar .link:hover {
    background-color: rgba(128, 128, 128, 0.26);
}

.card {
    position: fixed;
    color: rgb(202, 202, 202);
    background-color: rgba(29, 29, 29, 0.438);
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.card::-webkit-scrollbar{
    display: none;
}

.card .title {
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: 600;
    font-size: x-large;
    margin-bottom: 30px;
}

.card .content {
    margin: 10px;
}

@media (max-width: 600px) {
    .navbar {
        display: flex;
        height: 4.5vh;
        padding: 10px;
        flex-direction: column;
        overflow-y: hidden;
    }

    .navbar .btn {
        display: inline;
    }

    .navbar .link {
        display: inline-table;
        margin-top: 15px;
        padding: 10px;
    }

    .card {
        top: 7.2vh;
    }
}

@media (min-width: 600px) {
    .navbar {
        display: flex;
        height: 4vh;
        padding: 10px;
        align-items: center;
        flex-direction: row;
    }

    .navbar .btn {
        display: none;
    }

    .navbar .primary {
        font-size: large;
        font-weight: 600;
    }

    .navbar .search {
        width: 25px;
        height: 25px;
        padding: 8px;
        display: flex;
        margin-left: 10px;
        overflow-x: hidden;
        overflow-y: hidden;
        align-items: center;
        border-radius: 10px;
        transition: all 1s ease;
        background-color: rgba(128, 128, 128, 0.26);
    }

    .navbar .search input {
        background-color: transparent;
        padding: 10px;
        border-radius: 10px;
        border: none;
        margin-left: 15px;
        width: 35vw
    }

    .navbar .search input:focus {
        border: 3px rgba(128, 128, 128, 0.329) solid;
        outline: none;
    }

    .navbar .link {
        display: flex;
        padding: 10px;
        justify-content: center;
    }

    .card {
        top: 7vh;
    }
}