* { margin: 0; padding: 0; user-select: none; font-family: 'roboto';}

body {
    background-color: black;
    background-image: url('../background/abstract-1.jpg');
}

.navbar {
    color: grey;
    backdrop-filter: blur(10px);
    background-color: rgba(29, 29, 29, 0.438);
    transition: all 0.5s ease;
}
.navbar .btn {
    display: none;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.26);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}
.navbar .btn:hover {
    background-color: rgba(128, 128, 128, 0.363);
}
.navbar .link {
    color: grey;
    text-decoration: none;
    border-radius: 10px;
}
.navbar .link:hover {
    background-color: rgba(128, 128, 128, 0.26);
}
.navbar .primary {
    font-size: large;
    font-weight: 600;
}


@media (max-width: 600px) {
    .navbar {
        display: flex;
        height: 4.5vh;
        padding: 10px;
        flex-direction: column;
        overflow-y: hidden;
    }
    .navbar .btn {
        display: inline;
    }
    .navbar .link{
        display: inline-table;
        margin-top: 15px;
        padding: 10px;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    .navbar {
        display: flex;
        height: 4vh;
        padding: 10px;
        flex-direction: row;
    }
    .navbar .btn {
        display: none;
    }
    .navbar .link{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
}