{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="title">
        About TraCrime
    </div>
    <div class="content">
        <div>Our project focuses on enhancing public safety by detecting criminal activities in real-time within corridors. Leveraging advanced Machine Learning algorithms, our system identifies suspicious behavior and promptly alerts individuals in the vicinity, providing them with critical information to stay safe.</div> 
        <br><br><br>
        <h3>Key Features:</h6>
        <div>
            <ul>
                <br>
                <li><strong>Real-time Crime Detection:</strong> Utilizes cutting-edge Machine Learning models to analyze video footage and detect criminal activities as they occur.</li>
                <br>
                <li><strong>Immediate Alerts:</strong> Sends instant notifications to people near the crime scene, ensuring timely awareness and response.</li>
                <br>
                <li><strong>Smart Surveillance Integration:</strong> Seamlessly integrates with existing surveillance infrastructure to enhance monitoring capabilities.</li>
                <br>
                <li><strong>User-friendly Interface:</strong> Provides an intuitive dashboard for monitoring and managing alerts, accessible to both law enforcement and the general public.</li>
                <br>
                <li><strong>Scalable and Adaptable:</strong> Designed to work in various environments, from small buildings to large public spaces, and can be tailored to specific security needs.</li>
            </ul>
        </div>
        <br><br><br>
        <h3>Target Audience:</h3> 
        <div>
            <ul>
                <br>
                <li>Law enforcement agencies</li>
                <br>
                <li>Security personnel</li>
                <br>
                <li>Building management teams</li>
                <br>
                <li>General public concerned about safety</li>
                <br>
            </ul>
        </div>
        <br><br><br>
        <h3>Our Mission</h3>
        <div>
            <br>
            To create a safer environment by utilizing technology to detect and respond to crimes swiftly, ultimately reducing the risk and impact of criminal activities in public and private spaces.
        </div>
    </div>
</div>

{% endblock %}