{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="title">Welcome to TraCrime Home</div>
    <div class="content">
        <div> To create a safer environment by utilizing technology to detect and respond to crimes swiftly, ultimately reducing the risk and impact of criminal activities in public and private spaces. </div>
        <br><br><br><br>
        <div class="SOS_title">In Case of Emergency, press the SOS button</div>
        <div class="alert">
            <div class="SOS_btn" id="SOS_btn">
                SOS
            </div>
        </div>
        
    </div>
</div>

{% endblock %}