{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="title">Welcome to TraCrime Home</div>
    <div class="content">
        <div> To create a safer environment by utilizing technology to detect and respond to crimes swiftly, ultimately reducing the risk and impact of criminal activities in public and private spaces. </div>
        <br><br><br><br>
        <div class="SOS_title">In Case of Emergency, press the SOS button</div>
        <div class="alert">
            <div class="SOS_btn" id="SOS_btn">
                SOS
            </div>
        </div>
        <br><br><br><br>
        <div>
            Our pioneering project focuses on enhancing urban safety by deploying state-of-the-art technology to monitor city corridors with unparalleled precision.<br>
            Through the strategic deployment of advanced machine learning algorithms, we vigilantly monitor city thoroughfares, swiftly identifying and alerting authorities to potential incidents. <br>
            Our proactive approach not only enhances public safety but also empowers communities by providing real-time notifications to nearby residents.<br>
            Through seamless integration with local authorities and real-time alerts to nearby residents, we provide a proactive approach to crime prevention, fostering a safer environment for all.<br>
            Experience the future of urban security and join us in shaping the future of urban security.<br>
        </div>
    </div>
</div>

{% endblock %}