{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="title">Recent Crime</div>
    <div class="content"></div>



    <br><br><br>
    <div style='color: white; display: flex; flex-direction: column; align-items: center;'>
        <span>{{ crimes[-1]['Date'] }} <br> </span> 
        <span>{{ crimes[-1]['Time'] }} <br> </span> 
        <span>{{ crimes[-1]['Location'] }} <br> </span> 
        <span>{{ crimes[-1]['City'] }} <br><br> </span> 
        <img src="{{ crimes[-1]['URL'] }}" alt="" style = 'width: 80%; border-radius: 10px;'> 
    </div>
</div>

{% endblock %}